@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Joe's Gaming</h1>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Product Type</th>
				<th scope="col">Typical Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Xbox Game</td>
				<td>$49.99</td>
			</tr>
			<tr>
				<td>Arcade</td>
				<td>$5/Hour</td>
			</tr>
		</tbody>
	</table>
</div>

<h2>About Joe's Gaming</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit,
	sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua. Blandit libero volutpat sed cras ornare arcu dui
	vivamus. Posuere morbi leo urna molestie. Enim nulla aliquet
	porttitor lacus luctus accumsan tortor posuere. In eu mi 
	bibendum neque egestas congue quisque. Sollicitudin nibh sit
	amet commodo nulla. Purus gravida quis blandit turpis cursus.
	Egestas diam in arcu cursus euismod quis viverra. 
	Convallis tellus id interdum velit laoreet id donec ultrices. 
	Malesuada fames ac turpis egestas integer eget. Id leo in
	vitae turpis. Etiam non quam lacus suspendisse faucibus.
	Turpis nunc eget lorem dolor sed viverra. Porta lorem mollis 
	aliquam ut porttitor. Suspendisse sed nisi lacus sed viverra 
	tellus in.
</p>


